<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>E-commerce Hub</title>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    {% load static %}
    <!-- Main CSS-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all" />
    <link href="{% static 'css/post.css' %}" rel="stylesheet" media="all" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <script
      src="https://kit.fontawesome.com/700b873bbf.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <h4>
        <a href="{% url 'home' %}">E-commerce Hub</a>
      </h4>
      <nav>
        {% if user.is_authenticated %}
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'product_list' %}">Products</a></li>
        <li>
          <a href="{% url 'cart' %}"
            >Cart ({{ request.user.cart_set.count }})</a
          >
        </li>
        <li>
          <a href="{% url 'profile' %}">Welcome, {{ request.user.username }}</a>
        </li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'product_list' %}">Products</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </nav>
    </header>
    {% comment %} of the printing and typesetting industry. Lorem Ipsum has been
    the industry's standard dummy text ever since the 1500s, when an unknown
    printer took a galley of type and scrambled it to make a type specimen book.
    {% endcomment %}
    <section class="hero">
      <div class="background-image"></div>
      <div class="hero-content-area">
        {% for product in page %}
        <div class="product">
          <img
            class="product-image"
            src="{% static 'product_images/' %}{{product.image_url}}"
            alt="{{ product.name }}"
          />

          <h3 class="product-name">{{ product.name }}</h3>
          <p class="product-description">{{ product.description }}</p>
          <p class="product-price">Price: ${{ product.price }}</p>
          <p class="product-stock">Stock: {{ product.stock }}</p>

          {% if user.is_authenticated %}
          <a class="add-to-cart" href="{% url 'add_to_cart' product.id %}"
            >Add to Cart</a
          ><br />
          <a
            style="text-decoration: underline"
            href="{% url 'product_detail' product_id=product.id %}"
            >Review</a
          >
          {% else %}
          <a class="add-to-cart" href="{% url 'login' %}">Add to Cart</a>
          {% endif %}
        </div>
        {% endfor %}

        <div style="padding-top: 10px">
          {% if page.has_previous %}
          <a
            href="{% url 'home' %}?page={{ page.previous_page_number }}"
            style="color: #00d2ff"
            >Prev
          </a>
          {% endif %}
          <span>Page {{ page.number }} of {{ page.paginator.num_pages }}</span>
          {% if page.has_next %}
          <a
            href="{% url 'home' %}?page={{ page.next_page_number }}"
            style="color: #00d2ff"
          >
            Next
          </a>
          {% endif %}
        </div>
      </div>

      <footer>
        <a href="#">About us</a>
        <a href="#">Support center</a>
        <a href="#">Contact us</a>
        <a href="#">Terms and conditions</a>
      </footer>
    </section>
  </body>
</html>
